# Server
PORT=9000
ENVIRONMENT=dev

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=monitoring_energy
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SCHEMA=public
DATABASE_MAX_IDLE_CONNS=50
DATABASE_MAX_OPEN_CONNS=50
DATABASE_CONN_MAX_LIFETIME=5
DATABASE_CONN_MAX_IDLE_TIME=15

# Kafka
LIST_KAFKA_BROKERS=localhost:9092
CONSUMER_GROUP=monitoring-energy-group
CONSUMER_TOPIC=intake
PRODUCER_TOPIC=events.output

# Webhook
WEBHOOK_ENABLED=true
WEBHOOK_URL=http://localhost:9999/webhook

# HTTP Client
HTTP_CLIENT_TIMEOUT=30

# CORS
ALLOWED_CORS_SUFFIXES=.JCDC.io

# Telegram Notifications
TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Atlas (migrations)
ATLAS_DATABASE_USER=postgres
ATLAS_DATABASE_PASSWORD=postgres
ATLAS_DATABASE_HOST=localhost
ATLAS_DATABASE_PORT=6433
ATLAS_DATABASE_NAME=postgresAtlas
